In [1]:
from pathlib import Path
import pandas as pd

In [2]:
data_loc = Path.cwd().parent / "data"

# load raw data
df_raw = pd.read_excel(data_loc / "ets_data.xlsx")

df_raw.head()

,1 (AE8),2 (Cx11),3 (Sp1),4 (C7),5 (Cx6),6 (Ex6),7 (C5),8 (Ex3),9 (AE3),10 (C8),...,71 (Ex5),72 (C3),73 (Cx10),74 (Em2),75 (C15),76 (C11),77(RS1),Age,Gender,Ethnicity
0,5.0,4.0,4.0,3.0,5.0,3.0,3,4.0,4.0,4.0,...,4.0,4.0,4.0,3.0,4.0,5.0,2.0,5.0,3.0,5.0
1,5.0,4.0,3.0,3.0,4.0,2.0,2,3.0,3.0,3.0,...,4.0,4.0,3.0,4.0,3.0,5.0,3.0,4.0,3.0,5.0
2,3.0,3.0,2.0,3.0,3.0,2.0,3,2.0,3.0,4.0,...,1.0,3.0,2.0,1.0,3.0,4.0,1.0,4.0,3.0,5.0
3,5.0,5.0,5.0,5.0,5.0,5.0,5,5.0,6.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,2.0,5.0,3.0,3.0
4,1.0,2.0,3.0,6.0,3.0,2.0,3,4.0,4.0,2.0,...,3.0,3.0,4.0,2.0,2.0,2.0,2.0,3.0,3.0,5.0

In [4]:
# Clean up the column names
# Remove all characters before "("
df_raw.columns = df_raw.columns.map(lambda x: x.split("(", 1)[1] if "(" in x else x)

# Remove all characters after ")"
df_raw.columns = df_raw.columns.map(lambda x: x.split(")", 1)[0] if ")" in x else x)

# Rename columns to lowercase
df_raw.columns = df_raw.columns.str.lower().columns = df_raw.columns.str.lower()

df_raw.head()

,ae8,cx11,sp1,c7,cx6,ex6,c5,ex3,ae3,c8,...,ex5,c3,cx10,em2,c15,c11,rs1,age,gender,ethnicity
0,5.0,4.0,4.0,3.0,5.0,3.0,3,4.0,4.0,4.0,...,4.0,4.0,4.0,3.0,4.0,5.0,2.0,5.0,3.0,5.0
1,5.0,4.0,3.0,3.0,4.0,2.0,2,3.0,3.0,3.0,...,4.0,4.0,3.0,4.0,3.0,5.0,3.0,4.0,3.0,5.0
2,3.0,3.0,2.0,3.0,3.0,2.0,3,2.0,3.0,4.0,...,1.0,3.0,2.0,1.0,3.0,4.0,1.0,4.0,3.0,5.0
3,5.0,5.0,5.0,5.0,5.0,5.0,5,5.0,6.0,5.0,...,5.0,5.0,5.0,5.0,5.0,5.0,2.0,5.0,3.0,3.0
4,1.0,2.0,3.0,6.0,3.0,2.0,3,4.0,4.0,2.0,...,3.0,3.0,4.0,2.0,2.0,2.0,2.0,3.0,3.0,5.0

In [6]:
# Demographic cols
demo_cols = ["age", "gender", "ethnicity"]
# Get list of the scale columns
scale_cols = [col for col in df_raw.columns if col not in demo_cols]

['ae8', 'cx11', 'sp1', 'c7', 'cx6', 'ex6', 'c5', 'ex3', 'ae3', 'c8', 'cx4', 'ex8', 'to8', 'ae5', 'to3', 'to1', 'c4', 'se2', 'to10', 'ex2', 'cx3', 'to4', 'se1', 't3', 'to11', 'cx8', 'c10', 'ex1', 't2', 't1', 'cx7', 'ae6', 'em3', 'em8', 'c6', 'c2', 'to7', 'ae2', 'to6', 'to5', 'ae7', 'c9', 'ae1', 'em1', 'ex7', 'sp1', 'sp1', 'to2', 'ae9', 'em9', 'em6', 'sp1', 'c1', 'sp1', 'c14', 'cx9', 'em4', 'ex4', 'ae4', 'to12', 'cx1', 'em7', 'c13', 'cx5', 'sp1', 'cx2', 'cx12', 'c12', 'em5', 'to9', 'ex5', 'c3', 'cx10', 'em2', 'c15', 'c11', 'rs1']